# KiCad temporary and backup files
*-bak
*.bak
*.bck
*.kicad_prl
*-backups/
~*.lck
\#auto_saved_files#
fp-info-cache

# Manufacturing outputs (optional to ignore, recommended to generate via CI/CD or releases)
*.gbr
*.drl
*.rpt
